@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;

.hero {
  position: relative;
  overflow: hidden;
.inner-image {
  display: block;
  margin-top: -7px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  max-width: 900px;
}

.formulario {
  text-align: left;
}

.is_action {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}

main.main {
  background: $white;
}

.event-logo {
  margin-top: -90px;
  padding: 1rem;
  width: 600px;
  display: inline-block;
  border-radius: .5rem;
  color: #2a3c69;
}

.privadidad {
  font-size: .8rem;
  text-align: left;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 1rem 0;
  margin-top: 1rem;
}

.is_location {
  background: $rojo-trackday;
  padding: 1rem;
  color: $white;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem 0;
  strong {
    color: $white;
  }
  .nota {
    background: $black;
    color: $white;
    display: inline-block;
    padding: .2rem .4rem;
    font-size: .8rem;
  }
}

.check {
  margin-left: 1rem;
}

.map-icon {
  font-size: 2rem;
  color: #FFF;
}

.is-centered {
  width: 100%;
  text-align: center;
}

.fa.has-background {
  display: inline-block;
  background: rgba($verde, .9);
  padding: .3rem;
  margin: 0 .5rem;
  border-radius: .2rem;
}

.has-padding {
  text-align: center;
  padding: 2rem;
}

.has-background {
  font-family: 'Open Sans', sans-serif;
  background: $black;
  padding: 1rem;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  z-index: 5;
}

.whenandwhere {
  border: 1px solid rgba($gray, 0.5);
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
}