<template>
  <form class="columns is-multiline" @submit.prevent="sendForm">
    <div class="column is-6">

      <b-field label="Nombre">
        <b-input
          v-model="model.Nombre"
          type="text"
          name="Nombre"
          required/>
      </b-field>
      <b-field label="Correo Electrónico">
        <b-input
          v-model="model.Correo"
          type="email"
          name="Correo"
          required/>
      </b-field>
    </div>
    <div class="column is-6">
      <b-field label="Teléfono">
        <b-input
          v-model="model.Teléfono"
          type="tel"
          name="Teléfono"
          required/>
      </b-field>
      <b-field label="Liga de Facebook* (opcional)">
        <b-input
          v-model="model.facebook"
          type="text"
          name="facebook"/>
      </b-field>
      <b-field label="C.P.)">
        <b-input
          v-model="model.CodigoPostal"
          type="text"
          name="Código Postal"/>
      </b-field>
    </div>
    <div class="column is-12">
      <b-field label="Especificar acompañantes" class="is-horizontal">
        <b-switch v-model="isSwitched" @click="menuStatus = !menuStatus" />
      </b-field>
      <div v-if="isSwitched" class="bx_acompanantes">
        <p>Especifica a continuación los datos de tus acompañantes</p>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A1_nombre"
              type="text"
              name="adicional1 nombre" />
          </b-field>
        </b-field>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A2_nombre"
              type="text"
              name="adicional2 nombre" />
          </b-field>
        </b-field>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A3_nombre"
              type="text"
              name="adicional3 nombre" />
          </b-field>
        </b-field>
      </div>
    </div>
    <div class="column is-12">
      <div class="level">
        <div class="level-left">
          <b-checkbox
            v-model="TOS"
            required="true">Acepto el <strong>Aviso de privacidad</strong></b-checkbox>
        </div>
        <div class="level-right is-grouped is-grouped-right">
          <p class="control">
            <button
              type="submit"
              class="button is-black is-outlined">Reservar lugar</button>
          </p>
        </div>
      </div>

    </div>

    <b-loading :active="isLoading" :can-cancel="false"/>

  </form>
</template>

<script>
import axios from 'axios'
import qs from 'qs'

export default {
  name: 'TheForm',
  data: () => ({
    // Models
    TOS: false,
    isLoading: false,
    isSwitched: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      facebook: '',
      CodigoPostal: '',
      Número: '',
      sendTo: 'mercadotecnia.britania@grupoautofin.com',
      // sendTo: 'ramses@wdinamo.com',
      sheetDestiny: 'AboveAndBeyond',
      formDataNameOrder:
      '["Fecha", "Nombre", "Teléfono", "Correo", "facebook", "CodigoPostal", "Número"]',
    },
  }),
  mounted() {
    const today = new Date()
    this.model.Fecha = today.toLocaleString()
  },
  methods: {
    handleResponse(response) {
      if (response && response.result) {
        this.isSuccess()
      } else if (response && response.mailResult.status) {
        // console.warn('No se guardó en el drive, pero se envió al correo')
        this.isSuccess()
      } else {
        // console.error('Algo malo sucede')
        this.error()
      }
      this.isLoading = false
    },
    isSuccess() {
      this.$toast.open({
        duration: 5000,
        message: 'Tu solicitud se envió correctamente',
        position: 'is-bottom',
        type: 'is-success',
      })
      Object.keys(this.model).forEach((key) => {
        if (key !== 'sheetDestiny') {
          this.model[key] = ''
        }
      })
    },
    isError() {
      this.$toast.open({
        duration: 5000,
        message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
        position: 'is-bottom',
        type: 'is-danger',
      })
    },
    sendForm() {
      if (!this.TOS) {
        this.$toast.open({
          duration: 5000,
          message: 'Para enviar la información por favor acepta las nuestro aviso de privacidad.',
          position: 'is-bottom',
          type: 'is-danger',
        })
        return
      }
      this.isLoading = true

      const url = 'https://script.google.com/macros/s/AKfycbwf7UL4fHmaYz9IPMg-BCIX3t2rFEOyYIUB9RSWpE9qIk1GXgM/exec'
      const vm = this
      axios.post(url, qs.stringify(this.model), {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
      })
        .then(({ data }) => {
          vm.handleResponse(data)
        })
        .catch(() => {
          this.isLoading = false

          vm.$toast.open({
            duration: 5000,
            message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
            position: 'is-bottom',
            type: 'is-danger',
          })
        })
    },
  },
}
</script>
