<template>
  <form class="columns is-multiline" @submit.prevent="formSend">
    <div class="column is-6">

      <b-field label="Nombre">
        <b-input
          v-model="model.Nombre"
          type="text"
          name="Nombre"
          required/>
      </b-field>
      <b-field label="Correo Electrónico">
        <b-input
          v-model="model.Correo"
          type="email"
          name="Correo"
          required/>
      </b-field>
      <b-field label="Código Postal">
        <b-input
          v-model.number="model['Código Postal']"
          type="number"
          name="Código Postal"/>
      </b-field>
    </div>
    <div class="column is-6">
      <b-field label="Teléfono">
        <b-input
          v-model="model.Teléfono"
          type="tel"
          name="Teléfono"
          required/>
      </b-field>
      <b-field label="Número de acompañantes">
        <b-input
          v-model="model['Número']"
          type="number"
          min="1" max="15"
          name="Número"/>
      </b-field>

    </div>
    <div class="column is-12">
      <p>No olvides que para participar como conductor debes ser mayor de 18 años y llevar tu licencia de conducir vigente. En caso de no contar con ella puedes participar como pasajero con alguno de nuestros pilotos</p>
      <p>Recuerda llevar ropa y zapatos cómodos para disfrutar de tu experiencia</p>
      <p>Evento sin costo</p>
      <div class="level">
        <div class="level-left">
          <b-checkbox
            v-model="TOS"
            required="true">Acepto el <strong>Aviso de privacidad</strong></b-checkbox>
        </div>
        <div class="level-right is-grouped is-grouped-right">
          <p class="control">
            <button
              :disabled="preventSending"
              type="submit"
              class="button is-black is-outlined">Reservar lugar</button>
          </p>
        </div>
      </div>
    </div>

    <b-loading :active="isLoading" :can-cancel="false"/>

  </form>
</template>

<script>
import FormMixin from '~/mixins/form-mixin'

export default {
  name: 'FormTaller',
  mixins: [FormMixin],
  props: {
    sheetDestiny: {
      type: String,
      default: 'clinicaseptiembre',
    },
    formDataOrder: {
      type: [Array, String],
      default: () => ([
        'Fecha',
        'Nombre',
        'Teléfono', 'Correo', 'Taller', 'Modelo de Auto', 'Código Postal', 'Número']),
    },
  },
  data: () => ({
    isSwitched: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      Taller: '',
      'Modelo de Auto': '',
      'Código Postal': '',
      Número: '',
    },
  }),
}

</script>
<style lang="scss" scoped>
@import '~assets/sass/base/basic';
@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;
.swich{
  margin-left: 10px;
}
</style>
