<template>
  <form class="columns is-multiline" @submit.prevent="sendForm">
    <div class="column is-6">

      <b-field label="Nombre">
        <b-input
          v-model="model.Nombre"
          type="text"
          name="Nombre"
          required/>
      </b-field>
      <b-field label="Correo Electrónico">
        <b-input
          v-model="model.Correo"
          type="email"
          name="Correo"
          required/>
      </b-field>
      <b-field label="¿Eres cliente BBVA?">
        <b-switch v-model="model['Es cliente']"
                  true-value="Si"
                  false-value="No">
          {{ model['Es cliente'] }}
        </b-switch>
      </b-field>
    </div>
    <div class="column is-6">
      <b-field label="Teléfono">
        <b-input
          v-model="model.Teléfono"
          type="tel"
          name="Teléfono"
          required/>
      </b-field>
      <b-field label="Liga de Facebook* (opcional)">
        <b-input
          v-model="model.facebook"
          type="text"
          name="facebook"/>
      </b-field>
      <b-field label="Nombre del asesor que te invitó:">
        <b-select v-model="model.Asesor"
                  placeholder="Selecciona un asesor"
                  rounded required>
          <option>César Armenta</option>
          <option>Nallely Senties</option>
          <option>Jonathan Picazo</option>
          <option>Brenda Plata</option>
          <option>Tonatiuh Esquivel</option>
          <option>Jose Luis López</option>
          <option>Roberto Ávila</option>
          <option>Carlos Pérez de León</option>
          <option>Eduardo Ruvalcaba </option>
          <option>Gaby Muñoz</option>
          <option>Giovanni Fernandez</option>
          <option>Alejandro Baltazar</option>
          <option>Jaime Estrada</option>
        </b-select>
      </b-field>
    </div>
    <div class="column is-12">
      <b-field label="Especificar acompañantes" class="is-horizontal">
        <b-switch v-model="isSwitched" @click="menuStatus = !menuStatus" />
      </b-field>
      <div v-if="isSwitched" class="bx_acompanantes">
        <p>Especifica a continuación los nombres</p>
        <b-field label="Acompañantes">
          <b-input
            v-model="model.Acompanantes"
            type="textarea"
            name="adicional1 nombre" />
        </b-field>
      </div>
    </div>
    <div class="column is-12">
      <div class="level">
        <div class="level-left">
          <b-checkbox
            v-model="TOS"
            required="true">Acepto el <strong>Aviso de privacidad</strong></b-checkbox>
        </div>
        <div class="level-right is-grouped is-grouped-right">
          <p class="control">
            <button
              :disabled="preventSending"
              :class="{'is-loading': preventSending}"
              type="submit"
              class="button is-black is-outlined">Reservar lugar</button>
          </p>
        </div>
      </div>

    </div>

    <b-loading :active="isLoading" :can-cancel="false"/>

  </form>
</template>

<script>
import axios from 'axios'
import qs from 'qs'

export default {
  name: 'TheForm',
  data: () => ({
    // Models
    TOS: false,
    isLoading: false,
    isSwitched: false,
    preventSending: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      facebook: '',
      Acompanantes: '',
      Asesor: '',
      'Es cliente': '',
      sendTo: 'p.verastegui@masaryk.jlr.com.mx',
      // sendTo: 'cesar@wdinamo.com',
      sheetDestiny: 'TrackDay',
      formDataNameOrder:
      '["Fecha", "Nombre", "Teléfono", "Correo", "facebook", "Acompanantes", "Asesor", "Es cliente"]',
    },
  }),
  mounted() {
    const today = new Date()
    this.model.Fecha = today.toLocaleString()
  },
  methods: {
    handleResponse(response) {
      if (response && response.result) {
        this.isSuccess()
      } else if (response && response.mailResult.status) {
        // console.warn('No se guardó en el drive, pero se envió al correo')
        this.isSuccess()
      } else {
        // console.error('Algo malo sucede')
        this.isError()
      }
      this.isLoading = false
      setTimeout(() => {
        this.preventSending = false
      }, 15000)
    },
    isSuccess() {
      this.$dialog.alert({
        // duration: 5000,
        hasIcon: true,
        icon: 'check-circle ',
        iconPack: 'fal',
        message: 'Tu solicitud se envió correctamente',
        // position: 'is-bottom',
        type: 'is-success',
      })
      Object.keys(this.model).forEach((key) => {
        if (
          key !== 'sheetDestiny' ||
          key !== 'sendTo' ||
          key !== 'formDataNameOrder'
        ) {
          this.model[key] = ''
        }
      })
      this.$el.reset()
    },
    isError() {
      this.$toast.open({
        duration: 5000,
        message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
        position: 'is-bottom',
        type: 'is-danger',
      })
    },
    sendForm() {
      if (!this.TOS) {
        this.$toast.open({
          duration: 5000,
          message: 'Para enviar la información por favor acepta las nuestro aviso de privacidad.',
          position: 'is-bottom',
          type: 'is-danger',
        })
        return
      }
      this.isLoading = true
      this.preventSending = true

      const url = 'https://script.google.com/macros/s/AKfycbwf7UL4fHmaYz9IPMg-BCIX3t2rFEOyYIUB9RSWpE9qIk1GXgM/exec'
      const vm = this
      axios.post(url, qs.stringify(this.model), {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
      })
        .then(({ data }) => {
          vm.handleResponse(data)
        })
        .catch(() => {
          this.isLoading = false
          this.isError()
          setTimeout(() => {
            this.preventSending = false
          }, 15000)
        })
    },
  },
}
</script>
