<template>
  <form class="columns is-multiline" @submit.prevent="formSend">
    <div class="column is-6">

      <b-field label="Nombre">
        <b-input
          v-model="model.Nombre"
          type="text"
          name="Nombre"
          required/>
      </b-field>
      <b-field label="Correo Electrónico">
        <b-input
          v-model="model.Correo"
          type="email"
          name="Correo"
          required/>
      </b-field>
    </div>
    <div class="column is-6">
      <b-field label="Teléfono">
        <b-input
          v-model="model.Teléfono"
          type="tel"
          name="Teléfono"
          required/>
      </b-field>

    </div>

    <div class="column is-6">
      <b-field label="Especificar acompañantes" class="is-horizontal">
        <b-switch v-model="isSwitched" class="swich" @click="menuStatus = !menuStatus" />
      </b-field>
    </div>
    <div class="column is-12">
      <div v-if="isSwitched" class="bx_acompanantes">
        <p>Especifica a continuación los datos de tus acompañantes</p>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A1_nombre"
              type="text"
              name="adicional1 nombre" />
          </b-field>
        </b-field>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A2_nombre"
              type="text"
              name="adicional2 nombre" />
          </b-field>
        </b-field>
        <b-field grouped>
          <b-field label="Nombre" expanded>
            <b-input
              v-model="model.A3_nombre"
              type="text"
              name="adicional3 nombre" />
          </b-field>
        </b-field>

      </div>
      <div class="level">
        <div class="level-left util-space__top--2x">
          <b-checkbox
            v-model="TOS"
            required="true">Acepto el <strong>Aviso de privacidad</strong></b-checkbox>
        </div>
        <div class="level-right is-grouped is-grouped-right">
          <p class="control">
            <button
              :disabled="preventSending"
              type="submit"
              class="button is-black is-outlined util-space__top--2x">Reservar lugar</button>
          </p>
        </div>
      </div>


    </div>

    <b-loading :active="isLoading" :can-cancel="false"/>

  </form>
</template>

<script>
import FormMixin from '~/mixins/form-mixin'

export default {
  name: 'Formcoctel',
  mixins: [FormMixin],
  props: {
    sheetDestiny: {
      type: String,
      default: 'TimeAxioms',
    },
    formDataOrder: {
      type: [Array, String],
      default: () => ([
        'Fecha',
        'Nombre',
        'Teléfono', 'Correo', 'A1_nombre', 'A2_nombre', 'A3_nombre']),
    },
    mailTitle: {
      type: String,
      default: 'Time Axioms',
    },
  },
  data: () => ({
    isSwitched: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      Taller: '',
      'Modelo de Auto': '',
      A1_nombre: '',
      A2_nombre: '',
      A3_nombre: '',
    },
  }),
}

</script>
<style lang="scss" scoped>
@import '~assets/sass/base/basic';
@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;
.swich{
  margin-left: 10px;
}
</style>
