<template>
  <form
    class="columns is-multiline"
    @submit.prevent="formSend" >
    <div class="column is-6">
      <b-field label="Nombre">
        <b-input
          v-model="model.Nombre"
          type="text"
          name="Nombre"
          required/>
      </b-field>
      <b-field label="Correo Electrónico">
        <b-input
          v-model="model.Correo"
          type="email"
          name="Correo"
          required/>
      </b-field>

    </div>
    <div class="column is-6">
      <b-field label="Teléfono">
        <b-input
          v-model="model.Teléfono"
          type="tel"
          name="Teléfono"
          required/>
      </b-field>
      <b-field label="Liga de Facebook* (opcional)">
        <b-input
          v-model="model.facebook"
          type="text"
          name="facebook"/>
      </b-field>

    </div>
    <div class="column is-12">
      <div class="columns">
        <div class="column is-4">
          <b-field label="Nombre del asesor que te invitó:">
            <b-select v-model="model.Asesor"
                      placeholder="Selecciona un asesor"
                      rounded required>
              <option>Roberto Ávila</option>
              <option>Carlos Pérez de León</option>
              <option>Eduardo Ruvalcaba </option>
              <option>Gaby Muñoz</option>
              <option>Giovanni Fernandez</option>
              <option>Jaime Estrada</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field label="Día en el que asistirás.">
            <b-select v-model="model.DiaSeleccionado"
                      placeholder="Selecciona una opción"
                      rounded required>
              <option>19 de Agosto</option>
              <option>26 de Agosto</option>
            </b-select>
          </b-field>
        </div>
        <div class="column is-4">
          <b-field label="Especificar acompañantes" class="">
            <b-switch v-model="isSwitched" @click="menuStatus = !menuStatus" />
          </b-field>
        </div>
      </div>

    </div>
    <div class="column is-12">
      <div v-if="isSwitched" class="bx_acompanantes">
        <p>Especifica a continuación los nombres</p>
        <b-field label="Acompañantes">
          <b-input
            v-model="model.Acompanantes"
            type="textarea"
            name="adicional1 nombre" />
        </b-field>
      </div>
    </div>
    <div class="column is-12">
      <div class="level">
        <div class="level-left">
          <b-checkbox
            v-model="TOS"
            required="true">Acepto el <strong>Aviso de privacidad</strong></b-checkbox>
        </div>
        <div class="level-right is-grouped is-grouped-right">
          <p class="control">
            <button
              :disabled="preventSending"
              :class="{'is-loading': preventSending}"
              type="submit"
              class="button is-black is-outlined">Reservar lugar</button>
          </p>
        </div>
      </div>

    </div>

    <b-loading :active="isLoading" :can-cancel="false"/>

  </form>
</template>

<script>
import axios from 'axios'

/**
 * Formulario genérico
 *
 * @version 1.5
 */

export default {
  name: 'TheForm',
  props: {
    /**
     * Url de envío
     */
    endpoint: {
      type: String,
      // default: 'https://script.google.com/macros/s/AKfycbwf7UL4fHmaYz9IPMg-BCIX3t2rFEOyYIUB9RSWpE9qIk1GXgM/exec',
      default: 'https://script.google.com/macros/s/AKfycbwf7UL4fHmaYz9IPMg-BCIX3t2rFEOyYIUB9RSWpE9qIk1GXgM/exec',
    },
    /**
     * Título del mail
     */
    mailTitle: {
      type: String,
      default: 'Test Drive Atizapan',
    },
    /**
     * Hoja del drive a usar
     */
    sheetDestiny: {
      type: String,
      default: 'TestDrive',
    },
    /**
     * Orden en el que se muestran los datos en el correo, lo que no esté incluido aquí es omitido
     */
    formDataOrder: {
      type: [Array, String],
      default() {
        return ['Fecha', 'Nombre', 'Teléfono', 'Correo', 'facebook', 'Acompanantes', 'Asesor']
      },
    },
    /**
     * Correo al que se envía este lead
     */
    sendTo: {
      type: String,
      default: 'mercadotecnia.britania@grupoautofin.com',
    },
    /**
     * Correo al que las respuestas son enviadas
     */
    replyTo: {
      type: String,
      default: '',
    },
    /**
     * Asunto del correo
     */
    subject: {
      type: String,
      default: 'Lead TestDrive Atizapan',
    },
    /**
     * Nombre del remitente
     */
    senderName: {
      type: String,
      default: 'Eventos Jaguar Land Rover',
    },
    /**
     * Con copia
     */
    copyTo: {
      type: String,
      default: '',
    },
    /**
     * Copia oculta
     */
    ocultCopyTo: {
      type: String,
      default: '',
    },
    /**
     * Correo al que se envía las notificaciones de fallos.
     */
    debugMail: {
      type: String,
      default: 'ramses@wdinamo.com',
    },
  },
  data: () => ({
    // Estado de carga
    isLoading: false,
    // Bloqueo del botón y evento de envios
    preventSending: false,
    // Envío exitoso
    success: false,
    // Envío fallo
    failed: false,
    // Campo de terminos de privacidad
    TOS: false,
    isSwitched: false,
    model: {
      Fecha: '',
      Nombre: '',
      Teléfono: '',
      Correo: '',
      facebook: '',
      Acompanantes: '',
      Asesor: '',
      DiaSeleccionado: '',
      sheetDestiny: 'TestDrive',
      formDataOrder: '["Fecha", "Nombre", "Teléfono", "Correo", "facebook", "DiaSeleccionado" ,"Acompanantes", "Asesor"]',
    },
  }),
  computed: {
    /**
     * El objeto a enviarse, combina las props con el objeto del formulario
     *
     * @returns {Object} payload
     */
    payload() {
      return Object.assign({
        sheetDestiny: this.sheetDestiny,
        formDataOrder: this.formDataOrder,
        sendTo: this.sendTo,
        replyTo: this.replyTo,
        subject: this.subject,
        debugMail: this.debugMail,
        senderName: this.senderName,
        ocultCopyTo: this.ocultCopyTo,
        copyTo: this.copyTo,
        mailTitle: this.mailTitle,
      }, this.model)
    },
  },
  mounted() {
    const today = new Date()
    this.model.Fecha = today.toLocaleString('es')
  },
  methods: {
    /**
     * Procesa el resultado de la respuesta
     *
     * @param {Object} response La respuesta del script de gdocs
     * @param {Object} response.result El resultado del script
     * @param {Object} response.mailResult.status El resultado del envío de correo
     * @param {Object} response.sheet.status El resultado de guardado del correo
     */
    handleResponse(response) {
      if (response && response.result) {
        this.isSuccess()
      } else if (response && response.mailResult.status) {
        console.warn('No se guardó en el drive, pero se envió al correo')
        this.isSuccess()
      } else {
        console.error('Algo malo sucede')
        this.isError()
      }
      this.isLoading = false
      setTimeout(() => {
        this.preventSending = false
      }, 5000)
    },
    /**
     * Callback para mostrar resultado de éxito
     */
    isSuccess() {
      this.$dialog.alert({
        hasIcon: true,
        icon: 'check-circle ',
        iconPack: 'fal',
        message: 'Tu solicitud se envió correctamente',
        type: 'is-success',
      })
      this.resetForm()
      /**
       * Evento de envio exitoso, se puede usar para cerrar modales
       *
       * @event success
       * @type {Event}
       */
      this.$emit('success')
    },
    /**
     * Callback para mostrar error
     */
    isError() {
      this.$toast.open({
        duration: 5000,
        message: 'Hubo un error enviando tu solicitud. Intentalo más tarde',
        position: 'is-bottom',
        type: 'is-danger',
      })
      /**
       * Evento de error enviando, se puede usar para cerrar modales
       *
       * @event error
       * @type {Event}
       */
      this.$emit('error')
    },
    /**
     * Resetea los datos del formulario
     */
    resetForm() {
      const today = new Date()
      Object.keys(this.model).forEach((key) => {
        this.model[key] = ''
      })
      this.model.Fecha = today.toLocaleString('es')
      this.$el.reset()
    },
    /**
     * Convierte los datos del formulario en FormData
     *
     * @returns {FormData} formData
     */
    formatPayload() {
      const formData = new FormData()
      Object.keys(this.payload).forEach((key) => {
        if (typeof this.payload[key] !== 'object') {
          formData.append(key, String(this.payload[key]))
        } else if (this.payload[key]) {
          formData.append(key, JSON.stringify(this.payload[key]))
        }
      })
      return formData
    },
    /**
     * Envía el formulario al script de gdocs
     */
    formSend() {
      if (!this.TOS) {
        this.$toast.open({
          duration: 5000,
          message: 'Para enviar la información por favor acepta las nuestro aviso de privacidad.',
          position: 'is-bottom',
          type: 'is-danger',
        })
        return
      }
      this.isLoading = true
      this.preventSending = true
      const vm = this
      const formData = this.formatPayload()
      axios.post(this.endpoint, formData, {
        headers: {
          'Content-Type': 'application/formdata',
        },
      }).then(({ data }) => {
        vm.handleResponse(data)
      }).catch(() => {
        vm.isLoading = false
        vm.preventSending = false
        vm.isError()
      })
    },
  },
}
</script>
<style lang="sass" scoped>
</style>
