<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="notification is-danger">
          <h1 class="title is-1 has-text-centered">
            Error
          </h1>
          <h2
            v-if="error.statusCode === 404"
            class="subtitle has-text-centered">
            Página no encontrada
          </h2>
          <pre v-else>{{ error }}</pre>
          <p class="has-text-centered">
            <nuxt-link to="/">Home</nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Error',
  // eslint-disable-next-line
  props: ['error'],
  layout: 'default',
}
</script>

<style>

</style>
