<template>
  <div class="clinica-container">
    <header class="header">
      <h1 class="header-title is-size-2 is-size-4-mobile has-text-weight-bold is-size-4">ABOVE & BEYOND TOUR<br>GALERÍAS METEPEC</h1>

      <img src="/images/logo-landrover.png"
           class="header-logo">


    </header>
    <figure class="clinica-image">
      <img class="hero-image"
           src="/images/tour.jpg"
           alt="imagen principañ">
    </figure>
    <div class="util-space__top--1x">
      <!-- eslint-disable max-len -->
      <div class="formulario">
        <p class="is-size-5 is-size-7-mobile has-text-weight-semibold formulario-title">Vive la experiencia de manejar tu Land Rover favorito en nuestro Test
        Drive del estacionamiento de la plaza.</p>
        <h2 class="is-size-4 is-size-6-mobile has-text-weight-bold is-size-4 util-space__top--1x">THE ABOVE AND BEYOND TOUR
        </h2>
        <p class="is-size-5-desktop util-space__top--1x">The Above and Beyond Tour viene para ofrecerte un encuentro cercano con tus vehículos favoritos de Land Rover en una serie de obstáculos desafiantes. <br>
          Si estás buscando la forma más emocionante de poner a prueba tus habilidades de conducción y tu experiencia con la capacidad de Land Rover, The Above and Beyond Tour   es perfecta para eso. </p>
        <p class="is-size-5-desktop util-space__top--1x">Domingo 11 de noviembre.</p>
        <p class="is-size-5-desktop ">A partir de las 10:00 hasta las 18:00 h.</p>
        <p class="is-size-5-desktop ">Galerías Metepec.</p>
        <!-- <span class="tag is-warning is-centered">Limitado a 200 registros.</span> -->

        <generic-form
          class="util-space__top--1x"
          sheet-destiny="tourlandrover"
          subject="tourlandrover"
          send-to="mercadotecnia.britania@grupoautofin.com" />

        <p class="util-space-top--1x">Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al:  55 3067 9600  o al correo: <a href="mailto:mercadotecnia.britania@grupoautofin.com">mercadotecnia.britania@grupoautofin.com</a></p>
      </div>
      <section class="privadidad">
        <h6>Aviso de Privacidad:</h6>
        <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
      </section>

      <!-- <b-modal :active.sync="showModal" >
        <div class="box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab provident quaerat necessitatibus doloremque laborum ipsa non optio quasi nostrum enim natus est sunt, similique neque aliquid? Unde, dolores minus.
        </div>
      </b-modal> -->
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/FormTaller'

export default {
  name: 'Index',
  head: {
    title: 'TestDrive',
    bodyAttrs: {
      class: 'background-white',
    },
  },
  components: {
    GenericForm,
  },
  data() {
    return {
      showModal: false,
    }
  },
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;

%title {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 5rem;
  display: block;
  flex: 0 0 5rem;
}
.header-title {
  @extend %title;
  margin-right: auto;
}
.formulario-title {
  @extend %title;
}

.hero-image{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.clinica-container {
 max-width: 900px;
 margin: 0 auto;
 padding: 0 1rem;
}

.clinica-image {
  margin: 0 -1rem;
}

.privadidad {
  font-size: .8rem;
  text-align: left;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 1rem 0;
  margin-top: 1rem;
}


</style>
