<template>
  <div class="index landing_content">
    <div class="container">
      <div class="bx_header">
        <img src="~/static/images/above_escritorio.jpg" class="img_autoslalom is_3x4" alt="AutoSlalom Jaguar">
      </div>
      <main class="main">
        <!--<img src="~/static/images/landrover.png" class="logo_autoslalom" alt="LandRover">-->
        <div class="has-text-centered">

          <h1 class="title is-3 has_text_shadow">Avobe and Beyond </h1>
          <p class="is_action">Este 30 de junio celebra con nosotros los 70 años de Land Rover en un evento lleno de aventura y adrenalina. Confirma tu asistencia.</p>
          <p class="is_higlighted">Es una experiencia off road (ejercicios) con un desayuno</p>
        </div>
        <div class="columns is-centered is-mobile">
          <div class="column is-narrow">
            <p class="is_location">
              Lugar: <strong><span class="icon"><i class="fa fa-location-arrow" /></span> <a class="has-text-white" href="https://goo.gl/maps/d72JfWCQB6p" target="_blank">Garden Santa Fe</a></strong><br>
              Hora: <strong>10:00 am</strong> <br>
              Fecha: <strong>30 de junio</strong><br>
            </p>

          </div>
        </div>
        <div class="formulario">
          <generic-form/>
          <p>Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: <a href="tel: 55 3088 3750">55 3088 3750</a>, <a href="tel:55 3067 9600">55 3067 9600 </a>o al correo: <a href="mailto:mercadotecnia.britania@grupoautofin.com">mercadotecnia.britania@grupoautofin.com</a></p>

        </div>
        <section class="privadidad">
          <h6>Aviso de Privacidad:</h6>
          <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
        </section>
      </main>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/AboveAndBeyond'

export default {
  name: 'Index',
  head: {
    title: 'Above and Beyond',
    bodyAttrs: {
      class: 'is_landing',
    },
  },
  components: {
    GenericForm,
  },

}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"

$verde: #0c6235
.landing_content
  .container
    background-color: #FFF
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-size: 1.2rem

main.main
  margin: 0 1rem
.logo_autoslalom
  margin-top: -5rem
  +mobile
    width: 130px
    height: 130px
  +tablet
    width: 200px
    height: 200px
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $verde
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.is_higlighted
  background: $black
  color: $white
  padding: 1rem
  text-align: center
  border-radius: .3rem
.check
  margin-left: 1rem
</style>
