<template>
  <div>
    <section class="hero is-halfheight">
      <div class="is-overlay">
        <div class="container">
          <picture class="inner-image">
            <source srcset="~/static/images/golf_hero_mobil.jpg 768w" media="(max-width: 769px)">
            <source srcset="~/static/images/golf_hero_desk.jpg 769w">
            <img src="~/static/images/golf_hero_mobil.jpg" alt="Golf Experience">
          </picture>
        </div>
      </div>
      <div class="hero-body"/>
    </section>
    <div class="index landing_content">
      <div class="container">
        <h1 class="title has-background">Golf Experience</h1>
        <div class="columns has-padding">
          <div class="column is-6">
            <p class="is_action">Vive una experiencia de <strong>golf nocturno (drive y tiro a bandera)</strong>, además disfruta de una tradicional cata artesanal de mezcal y puros.</p>
          </div>
          <div class="column is-6">
            <ul>
              <li><strong>Fecha:</strong> 21/06/2018 </li>
              <li><strong>Hora:</strong> 19:00 horas </li>
              <li>
                <strong>Lugar:</strong>
                <a href="https://goo.gl/maps/36UDW4EcFBm" target="_blank" >
                  <i class="fa fa-location-arrow" /> Club de Golf Bosque Real
                </a>
              </li>
            </ul>
          </div>
        </div>
        <main class="main has-text-centered">

          <div class="formulario">
            <p>Por favor confirma tu asistencia en el siguiente formulario. </p>
            <!-- <span class="tag is-warning is-centered">Limitado a 200 registros.</span> -->

            <generic-form/>
            <p>Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: 55 3088 3750 o al correo: <a href="mailto:p.verastegui@masaryk.jlr.com.mx">p.verastegui@masaryk.jlr.com.mx</a></p>
          </div>
          <section class="privadidad">
            <h6>Aviso de Privacidad:</h6>
            <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
          </section>
        </main>
      </div>
    </div>
  </div>

</template>

<script>
import GenericForm from '~/components/GolfExperience'

export default {
  name: 'Index',
  head: {
    title: 'Golf Experience',
    bodyAttrs: {
      class: 'is_landing',
    },
  },
  components: {
    GenericForm,
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
$highlight: #1b2650
$verde: #0c6235
$rojo-trackday: #de2641

.is-overlay
  position: absolute
  top: 0
  img
    width: 100%
    height: 100%
    object-fit: cover
.hero-body
  z-index: 3
  position: relative
  color: white
  strong
    color: white
  a
    color: $white
.has-top-padding
  margin-top: 22vh
.landing_content
  .container
    background-color: #FFF
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-size: 1.2rem

main.main
  margin: 0 1rem
.event-logo
  margin-top: -90px
  padding: 1rem
  width: 600px
  display: inline-block
  background: $white
  border-radius: .5rem
  color: #2a3c69
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $rojo-trackday
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.check
  margin-left: 1rem
.map-icon
  font-size: 2rem
  color: #FFF
.is_champions
  background-color: $highlight
  background-image: url(~/images/champions_back.jpg)
  background-size: cover
  color: $white
  text-align: center
  border-radius: 1rem
  margin: 1rem 0
  padding-top: 3rem
  min-height:  10rem
  strong
    color: $rojo-trackday
.is-centered
  width: 100%
  text-align: center
.shytitle
  position: absolute
  top: -100vh
.fa.has-background
  display: inline-block
  background: rgba($verde, .9)
  padding: .3rem
  margin: 0 .5rem
  border-radius: .2rem
.has-padding
  .column
    padding: 2rem
.has-background
  font-family: 'Open Sans', sans-serif
  background: $black
  padding: 1rem
  text-align: center
  color: $white
  text-transform: uppercase
  margin: 0
  z-index: 5
</style>
