<template>
  <div>
    <section class="header">
      <div class="container">
        <img src="~/static/images/test-drive-jaguarlandrover.jpg" class="responsive">
        <picture class="inner-image">
          <source srcset="~/static/images/test-drive-photo-mobil.jpg 768w" media="(max-width: 769px)">
          <source srcset="~/static/images/test-drive-photo.jpg 769w">
          <img src="~/static/images/test-drive-photo-mobil.jpg" alt="Golf Experience">
        </picture>
      </div>
    </section>
    <div class="index landing_content">
      <div class="container">
        <div class="has-padding">

          <p class="is_action">Vive la experiencia de manejar un <br>jaguar o un landrover</p>
          <br>
          <ul class="whenandwhere">
            <li><strong>Fecha:</strong> 19 y 26 de Agosto </li>
            <li><strong>Hora:</strong> 11:00 AM a 6:00 PM </li>
            <li>
              <strong>Lugar:</strong>
              <a href="https://goo.gl/maps/3H8jW7hZwqK2" target="_blank" >
                <i class="fa fa-location-arrow" /> Galerías Atizapan
              </a>
            </li>
          </ul>

        </div>
        <main class="main has-text-centered">

          <div class="formulario">
            <p>Por favor confirma tu asistencia en el siguiente formulario. </p>
            <!-- <span class="tag is-warning is-centered">Limitado a 200 registros.</span> -->

            <generic-form/>
            <p>Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: 55 3088 3750 o al correo: <a href="mailto:mercadotecnia.britania@grupoautofin.com">mercadotecnia.britania@grupoautofin.com</a></p>
          </div>
          <section class="privadidad">
            <h6>Aviso de Privacidad:</h6>
            <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
          </section>
        </main>
      </div>
    </div>
  </div>

</template>

<script>
import GenericForm from '~/components/TestDrive'

export default {
  name: 'Index',
  head: {
    title: 'TestDrive',
    bodyAttrs: {
      class: 'background-white',
    },
  },
  components: {
    GenericForm,
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"
@import url('https://fonts.googleapis.com/css?family=Jura:400,700')

$highlight: #1b2650
$verde: #0c6235
$rojo-trackday: #de2641
.header
  img
    margin: 0
.inner-image
  display: block;
  margin-top: -7px
  img
    width: 100%
    height: 100%
    object-fit: cover
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-family: 'Jura', sans-serif
  font-weight: 700
  font-size: 1.8rem
  text-transform: uppercase
main.main
  background: $white
.event-logo
  margin-top: -90px
  padding: 1rem
  width: 600px
  display: inline-block
  border-radius: .5rem
  color: #2a3c69
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $rojo-trackday
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.check
  margin-left: 1rem
.map-icon
  font-size: 2rem
  color: #FFF
.is-centered
  width: 100%
  text-align: center
.fa.has-background
  display: inline-block
  background: rgba($verde, .9)
  padding: .3rem
  margin: 0 .5rem
  border-radius: .2rem
.has-padding
  text-align: center;
  padding: 2rem
.has-background
  font-family: 'Open Sans', sans-serif
  background: $black
  padding: 1rem
  text-align: center
  color: $white
  text-transform: uppercase
  margin: 0
  z-index: 5
.whenandwhere
  border: 1px solid rgba($gray, 0.5)
  padding: 1rem;
  border-radius: .5rem
  display: flex
  justify-content: space-between
</style>
