<template>
  <div class="clinica-container">
    <header class="header">

      <img src="/images/logo-jaguar-color.png"
           class="header-logo">
      <img src="/images/logo-landrover.png"
           class="header-logo">

    </header>
    <template>
      <div class="box countdown">
        Faltan solo
        <countdown end="February 09, 2019"/>
      </div>
    </template>
    <template>
      <div class="hero is-centered video">

        <video
          poster="/video/track_ok.jpg"
          class="video" controls>
          <source src="/video/taop-abt-ok.mp4" type="video/mp4">
        </video>

      </div>
    </template>

    <div class="util-space__top--1x">
      <!-- eslint-disable max-len -->
      <h1 class="header-title is-size-2">The Art Of Performance - Above & Beyond Tour</h1>


      <div class="box is-size-5-desktop util-space__top--1x has-text-centered">
        <h2 class="title is-2 is-primary">
          ¡LOCALIDADES AGOTADAS!
        </h2>
        Este 9 de febrero tienes tu lugar asegurado para conducir nuestros vehículos.<br>
        Te esperamos desde las 9:00 A.M. y hasta las 5:00 P.M. <br>
        en el <strong>Centro Dinámico Pegaso </strong>
        <a href="https://goo.gl/maps/w5xdSunWw162" target="_blank">
          <span class="icon is-size-4"><i class="fas fa-map-marker-alt" /></span>
        </a>
      </div>

      <p>
        Gracias a todos los que se registraron, no olviden que para disfrutar de la experiencia les recomendamos usar ropa cómoda y no olvidar su licencia de conducir.
      </p>

      <section class="privadidad">
        <h6>Aviso de Privacidad:</h6>
        <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
      </section>

      <!-- <b-modal :active.sync="showModal" >
        <div class="box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab provident quaerat necessitatibus doloremque laborum ipsa non optio quasi nostrum enim natus est sunt, similique neque aliquid? Unde, dolores minus.
        </div>
      </b-modal> -->
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/FormTaller'
import Countdown from '~/components/CountDown'

export default {
  name: 'Index',
  head: {
    title: 'Above & Beyond Tour',
    bodyAttrs: {
      class: 'background-white',
    },
  },
  components: {
    GenericForm,
    Countdown,
  },
  data() {
    return {
      showModal: false,
    }
  },
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;

%title {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header-logo {
  width: 5rem;

}
.header-title {
  @extend %title;
  margin-right: auto;
}
.formulario-title {
  @extend %title;
}

.hero-image{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.clinica-container {
 max-width: 900px;
 margin: 0 auto;
 padding: 0 1rem;
}

.clinica-image {
  margin: 0 -1rem;
}

.privadidad {
  font-size: .8rem;
  text-align: left;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 1rem 0;
  margin-top: 1rem;
}
.icon{
  margin-right: 10px;
}

.countdown{
  max-width: 350px;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}

</style>
