<template>
  <div class="index landing_content">
    <div class="container">
      <div class="bx_header">
        <img src="~/static/images/rangerover.jpg" class="img_autoslalom is_3x4" alt="AutoSlalom Jaguar">
      </div>
      <main class="main has-text-centered">
        <img src="~/static/images/autoslalom-jaguar.png" class="logo_autoslalom" alt="AutoSlalom Jaguar">
        <h1 class="title is-3 has_text_shadow">Autoslalom Jaguar-Valle de Bravo: </h1>
        <p class="is_action">Este vive la experiencia del Autoslalom Jaguar-Valle de Bravo. <strong>La cita es en Jaguar Masaryk</strong> para salir rumbo a Valle de Bravo.</p>

        <div class="formulario">
          <p>Reserva tu lugar:</p>
          <generic-form/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/GenericForm'

export default {
  name: 'Index',
  head: {
    title: 'Autoslalom',
    bodyAttrs: {
      class: 'is_landing',
    },
  },
  components: {
    GenericForm,
  },
}
</script>

<style lang="sass">
@import "~bulma/sass/utilities/_all"
$black: #000
$white: #FFF
body.is_landing
  background-color: #333
.landing_content
  .container
    background-color: #FFF
// .hero
//   position: relative
//   background-color: $black
//   color: $white
//   overflow: hidden
// .is-overlay
//   img
//     width: 100%
//     height: 100%
//     object-fit: cover
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-size: 2rem

main.main
  margin: 0 1rem
.logo_autoslalom
  margin-top: -5rem
  +mobile
    width: 130px
    height: 130px
  +tablet
    width: 200px
    height: 200px
</style>
