<template>
  <div class="clinica-container">
    <header class="header">
      <h1 class="header-title is-size-2 is-size-4-mobile has-text-weight-bold is-size-4">ABOVE & BEYOND TOUR OFF ROAD<br> 7MO OFF ROAD ADVENTURE</h1>
      <img src="/images/logo-landrover.png"
           class="header-logo">

    </header>
    <template>
      <div class="hero is-centered">
        <img
          class="image is-hidden-desktop"
          src="/images/tepotzotlan-desktop.jpg"
          alt="autos">
        <img
          class="image is-hidden-mobile"
          src="/images/tepotzotlan-mobile.jpg"
          alt="autos">
      </div>
    </template>

    <div class="util-space__top--1x">
      <!-- eslint-disable max-len -->
      <div class="formulario">
        <p class="is-size-5-desktop util-space__top--2x">Sé parte de nuestro Off Road Adventure Tour Tepotzotlán.</p>
        <p class="is-size-5-desktop util-space__top--3x"> <strong> BOVE & BEYOND TOUR OFF ROAD 7MO OFF ROAD ADVENTURE.</strong></p>
        <p class="is-size-5-desktop util-space__top--1x">Si estaás buscando la forma más emocionante de poner a prueba tus habilidades de conducción en <br>
          terrenos desafiantes esta experiencia es para ti. ¡No hay mejor manera de experimentar la verdadera <br>
          aventura! Te invitamos a vivir una experiencia única junto a tu Land Rover, una mezcla entre naturaleza,
          lujo y comodidad. La ruta finalizará en Tepotzotlán con un delicioso banquete. </p>
        <p class="is-size-5-desktop util-space__top--1x">Sábado 17 de noviembre.</p>
        <p class="is-size-5-desktop util-space__top--1x">Hora de salida: 8:00 h.</p>
        <p class="is-size-5-desktop util-space__top--1x"><a href="https://goo.gl/maps/2g38drCzfTB2">
          <span class="icon is-size-4 is-pulled-left"><i class="fas fa-map-marker-alt" /></span>
        </a>Punto de reunión Jaguar Land Rover Masaryk.</p>

        <!-- <span class="tag is-warning is-centered">Limitado a 200 registros.</span> -->

        <generic-form
          class="util-space__top--1x"
          sheet-destiny="tourtepozotlan"
          subject="tourtepozotlan"
          send-to="mercadotecnia.britania@grupoautofin.com" />
        <p class="util-space-top--1x">Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: 55 3088 3750 o al correo: <a href="mailto:mercadotecnia.britania@grupoautofin.com">mercadotecnia.britania@grupoautofin.com</a></p>
      </div>
      <section class="privadidad">
        <h6>Aviso de Privacidad:</h6>
        <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
      </section>

      <!-- <b-modal :active.sync="showModal" >
        <div class="box">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab provident quaerat necessitatibus doloremque laborum ipsa non optio quasi nostrum enim natus est sunt, similique neque aliquid? Unde, dolores minus.
        </div>
      </b-modal> -->
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/FormTaller'

export default {
  name: 'Index',
  head: {
    title: 'TestDrive',
    bodyAttrs: {
      class: 'background-white',
    },
  },
  components: {
    GenericForm,
  },
  data() {
    return {
      showModal: false,
    }
  },
}
</script>
<style lang="scss" scoped>
@import "~bulma/sass/utilities/_all";
@import "assets/sass/base/colores.sass";
@import url('https://fonts.googleapis.com/css?family=Jura:400,700');
$highlight: #1b2650;
$verde: #0c6235;
$rojo-trackday: #de2641;

%title {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 5rem;
  display: block;
  flex: 0 0 5rem;
}
.header-title {
  @extend %title;
  margin-right: auto;
}
.formulario-title {
  @extend %title;
}

.hero-image{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.clinica-container {
 max-width: 900px;
 margin: 0 auto;
 padding: 0 1rem;
}

.clinica-image {
  margin: 0 -1rem;
}

.privadidad {
  font-size: .8rem;
  text-align: left;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 1rem 0;
  margin-top: 1rem;
}
.icon{
  margin-right: 10px;
}


</style>
